<div class="container">

  <h2>Operation History</h2>

  <table>

    <thead>
      <tr>
        <th>ID</th>
        <th>Operation</th>
        <th>Measurement</th>
        <th>Result</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td>1</td>
        <td>Add</td>
        <td>Length</td>
        <td>15 Meter</td>
        <td>17 Jun 2026</td>
      </tr>

      <tr>
        <td>2</td>
        <td>Convert</td>
        <td>Length</td>
        <td>1000 Meter</td>
        <td>17 Jun 2026</td>
      </tr>

    </tbody>

  </table>

  <button>
    Clear History
  </button>

</div>