<div class="container">
  <h2>Quantity Operation</h2>

  <form>
    <label>Measurement Type</label>

    <select>
      <option>Length</option>
      <option>Weight</option>
      <option>Volume</option>
    </select>

    <h3>Quantity 1</h3>

    <input type="number" placeholder="Value" />

    <select>
      <option>Meter</option>
      <option>Kilometer</option>
      <option>Centimeter</option>
    </select>

    <h3>Quantity 2</h3>

    <input type="number" placeholder="Value" />

    <select>
      <option>Meter</option>
      <option>Kilometer</option>
      <option>Centimeter</option>
    </select>

    <button>Submit</button>
  </form>
</div>
